@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 100%;
    --popover-foreground: 0 0% 100%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 100%;
    --muted-foreground: 0 0% 100%;
    --card-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --background: 160 25% 10%;
    --foreground: 0 0% 100%;
    --secondary: 150 40% 40%;
    --popover: 160 25% 15%;
    --primary: 150 45% 50%;
    --border: 160 25% 47%;
    --accent: 150 35% 60%;
    --muted: 160 25% 25%;
    --input: 160 25% 37%;
    --card: 160 25% 15%;
    --ring: 0 0% 100%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-black text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}